@using Demo.Web.Models
@model FilmsListViewModel

@{
    ViewBag.Title = "List of Films";
}

<h2>List of Films</h2>

<div>
    <b>Total number of films: </b> @Model.TotalNumber
</div>
<table class="table table-striped">
    @foreach (var name in Model.Names) {
        <tr><td>@name</td></tr>
    }
</table>